---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="長谷川 駿 について">
  <main class="pbl-16">
    <div class="space-b-8">
      <h1 class="text-2xl font-bold">長谷川 駿について</h1>
      <p>
        はせがわはやと、と読みます。「はせがわ」と呼ばれることが多いので、「はせがわ」という名前で活動しています。
      </p>
    </div>
    <div class="border-t mbs-12"></div>
    <section class="space-b-8 pbl-12">
      <h2 class="text-xl font-bold">略歴</h2>
      <dl class="space-b-8">
        <div class="">
          <dt class="text-lg font-bold">
            <time datetime="2021-08">2021年8月</time> - 現在
          </dt>
          <dd>
            福岡県の制作会社に入社し、フロントエンドエンジニアとして従事。JAMStackウェブサイトの構築や、ウェブアプリケーションの構築を担当。
          </dd>
        </div>
        <div class="">
          <dt class="text-lg font-bold">
            <time datetime="2020-08">2020年8月</time> - <time datetime="2021-06"
              >2021年6月</time
            >
          </dt>
          <dd>
            広島県のウェブ制作会社に入社し、ワードプレスを用いたウェブサイト制作のコーディングを担当。マークアップやウェブアクセシビリティに関心を持つ。
          </dd>
        </div>
        <div class="">
          <dt class="text-lg font-bold">
            <time datetime="2019-10">2019年10月</time> - <time
              datetime="2020-04">2020年4月</time
            >
          </dt>
          <dd>
            職業訓練校にてウェブデザインを学ぶ。デザイナーを志したが、まずは作ることから始めようと思い、コーディングに熱中する。
          </dd>
        </div>
      </dl>
    </section>
    <div class="border-t"></div>
    <section class="space-b-8 pbl-12">
      <h2 class="text-xl font-bold">大切にしていること</h2>
      <ul class="list-disc pis-4">
        <li>セマンティックなマークアップを心がける</li>
        <li>
          <a href="https://defensivecss.dev/" target="_blank">Defensive CSS</a>
        </li>
      </ul>
    </section>
    <div class="border-t"></div>
    <section class="space-b-8 pbl-12">
      <h2 class="text-xl font-bold">やりたいこと</h2>
    </section>
    <div class="border-t"></div>
    <section class="space-b-8 pbl-12">
      <h2 class="text-xl font-bold">使ったことのある技術・ツールなど</h2>
      <ul class="list-disc pis-4">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript / TypeScript</li>
        <li>React / Next.js</li>
        <li>SWR</li>
      </ul>
    </section>
    <div class="border-t"></div>
    <section class="space-b-8 pbl-12">
      <h2 class="text-xl font-bold">読んだ本</h2>
      <ul class="list-disc pis-4">
        <li>
          Webアプリケーションアクセシビリティ 今日から始める現場からの改善
        </li>
        <li>Tailwind CSS実践入門</li>
      </ul>
      <h3 class="text-lg font-bold">デザイン系</h3>
      <ul class="list-disc pis-4">
        <li>オブジェクト指向UIデザイン　使いやすいソフトウェアの原理</li>
        <li>
          Design Systems デジタルプロダクトのためのデザインシステム実践ガイド
        </li>
        <li>UIデザインの心理学 わかりやすさ・使いやすさの法則</li>
        <li>
          Form Design Patterns シンプルでインクルーシブなフォーム制作実践ガイド
        </li>
        <li>
          インタフェースデザインの心理学 第2版
          ウェブやアプリに新たな視点をもたらす100の指針
        </li>
        <li>銀行とデザイン</li>
        <li>融けるデザイン ハード×ソフト×ネット時代の新たな設計論</li>
        <li>誰のためのデザイン？</li>
        <li>エモーショナル・デザイン 微笑を誘うモノたちのために</li>
        <li>インクルーシブデザイン 社会の課題を解決する参加型デザイン</li>
        <li>データとデザイン 人とデータのつなぎかた</li>
        <li>
          UI GRAPHICS
          成功事例と思想から学ぶ、これからのインターフェイスデザインとUX
        </li>
        <li>
          ミスマッチ 見えないユーザーを排除しない「インクルーシブ」なデザインへ
        </li>
        <li>
          悲劇的なデザイン
          あなたのデザインが誰かを傷つけたかもしれないと考えたことはありますか?
        </li>
        <li>
          Web制作者のためのUXデザインをはじめる本
          ユーザビリティ評価からカスタマージャーニーマップまで
        </li>
        <li>UXデザインの法則 最高のプロダクトとサービスを支える心理学</li>
        <li>
          デザイン、学びのしくみ　ニューヨークの美大講師が考える創造力の伸ばし方
        </li>
      </ul>
    </section>
    <div class="border-t"></div>
    <section class="space-b-8 pbs-12">
      <h2 class="text-xl font-bold">SNSなど</h2>
      <ul class="list-disc pis-4">
        <li>
          <a href="https://twitter.com/hasegawa_dev" target="_blank">Twitter</a>
        </li>
        <li>
          <a href="https://github.com/hasegawa-101" target="_blank">Github</a>
        </li>
        <li>
          <a href="https://note.com/_hasegawa_/" target="_blank">note</a>
        </li>
      </ul>
    </section>
  </main>
</Layout>
