---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="長谷川 駿 について">
  <main class="space-b-8 pbl-12">
    <h1 class="text-2xl font-bold">長谷川 駿 について</h1>
    <p>はせがわはやと、と言います。<br>「はせがわ」と呼ばれることが多いので、「はせがわ」という名前で活動してたりします。</p>
    <p>現在は福岡県でフロントエンドエンジニアとして仕事をしています。ウェブアクセシビリティに強い関心を抱いています。</p>
    <section>
      <h2>略歴</h2>

    </section>
    <section>
      <h2 class="text-2xl font-bold">読んだ本</h2>
      <a href="read-book/">読んだ本</a>
    </section>
  </main>
</Layout>
