---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <header class="py-16 space-y-8 border-b">
    <p><a class="font-bold" href="/" title="トップページに戻る">Hayato Hasegawa</a></p>
  </header>
  <main class="space-y-16 py-16">
    <h1 class="text-2xl font-bold">長谷川 駿 について</h1>
  </main>
</Layout>
