---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="長谷川 駿 について">
  <main class="space-y-8 py-16">
    <h1 class="text-2xl font-bold">長谷川 駿 について</h1>
    <section>
      <h2 class="text-2xl font-bold">読んだ本</h2>
      <a href="read-book/">読んだ本</a>
    </section>
  </main>
</Layout>
