@import "tailwindcss";
@import "./logical-properties-plugin.css";

@plugin "@tailwindcss/typography";

@theme {
	--font-size-xs: 0.75rem;
	--font-size-sm: 0.875rem;
	--font-size-base: 1rem;
	--font-size-lg: 1.125rem;
	--font-size-xl: 1.25rem;
	--font-size-2xl: 1.5rem;
	--font-size-3xl: 1.75rem;
	--font-size-4xl: 2rem;
	--font-size-5xl: 2.25rem;
	--font-size-6xl: 2.5rem;

	--font-family-gothic-regular: "MFW-PIshiiGothicStdN-R", sans-serif;
	--font-family-gothic-bold: "MFW-PIshiiGothicStdN-B", sans-serif;

	/* Default font family */
	--font-family-sans: "MFW-PIshiiGothicStdN-R", sans-serif;

	--letter-spacing-body: 0.12em;

	--line-height-body: 1.7;

	--color-border-DEFAULT: rgb(230 230 230);
}

:root {
    --sentence-color-DEFAULT: theme(colors.stone.600);
}

body {
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
    line-height: var(--line-height-body);
    font-family: var(--font-family-gothic-regular);
    font-kerning: none;
    hanging-punctuation: allow-end;
    text-spacing-trim: trim-start;
    text-autospace: normal;
    line-break: normal;
    hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
dt {
    font-family: var(--font-family-gothic-bold);
    font-weight: normal;
}

a,
button {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:where(:any-link) {
	text-decoration: underline;
	text-underline-offset: 0.125em;
	text-decoration-thickness: 1px;
}

p {
	color: var(--sentence-color-DEFAULT);
}
