a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:where(:any-link) {
  text-decoration: underline;
  text-underline-offset: 0.125em;
  text-decoration-thickness: 1px;
}

h1, h2, h3, h4, h5, h6, p, dt, dd {
  max-inline-size: 40rem;
}

body {
  margin-left: env(safe-area-inset-left);
  margin-right: env(safe-area-inset-right);
  letter-spacing: 0.12em;
  line-height: 1.7;
}

