---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="職務経歴書 - 長谷川 駿" hideHeaderFooter noindex>
	<article class="py-32 max-w-none prose dark:prose-invert prose-headings:font-bold prose-headings:leading-none prose-headings:leading-none prose-p:my-3 prose-ul:my-3 prose-li:my-0 prose-dt:mt-3 prose-dt:leading-none">
		<header>
			<h1 class="text-center">職務経歴書</h1>
			<p class="text-end"><time datetime="2025-12-15">2025年12月15日</time></p>
			<p class="text-end">長谷川 駿</p>
		</header>

		<section>
			<h2>職務要約</h2>
			<p>
				2020年8月から2021年6月末まで、株式会社織にて、コーダーとして勤務。<br />
				2020年2月から2021年7月まで、副業としてアイエーアイ株式会社でコーダーとして勤務。<br />
				WordPressを用いたWebサイト制作のコーディング業務、LP制作、保守改修業務に従事していました。
			</p>
			<p>
				2021年8月から2024年11月末まで、イチマルイチデザイン株式会社にて、フロントエンドエンジニアとして勤務。<br />
				JAMStackでのWebサイト制作、React/Next.jsを用いたWebサービスの受託開発に従事していました。
			</p>
			<p>
				2025年2月から2025年10月末まで、株式会社ANYLANDにて、フロントエンドエンジニアとして勤務。<br />
				デザインシステム構築、UIライブラリ作成、テスト基盤構築、ADRなどのドキュメント作成などを行いました。営業職向け AI SaaS のフロントエンド開発も行いました。
			</p>
		</section>

		<section>
			<h2>職務経歴詳細</h2>

			<section>
				<h3>株式会社ANYLAND</h3>
				<p>2025年2月 〜 2025年10月末</p>

				<article>
					<h4>営業職向け AI SaaS 開発（会社都合により中止）</h4>
					<p><time datetime="2025-07">2025年7月</time> 〜 <time datetime="2025-09">2025年9月</time></p>
					
					<h5>概要</h5>
					<p>営業職向け AI SaaS プロダクトのフロントエンド開発を行いました。</p>

					<h5>技術スタック</h5>
					<dl>
						<dt>フロントエンド</dt>
						<dd>Next.js（App Router）/ TypeScript / Tailwind CSS / shadcn UI</dd>
						<dt>バックエンド</dt>
						<dd>Go</dd>
						<dt>インフラ・ミドルウェア</dt>
						<dd>GCP (Cloud Run, AlloyDB) / Terraform / Vercel</dd>
					</dl>

					<h5>体制</h5>
					<ul>
						<li>PM：1名</li>
						<li>デザイナー：1名</li>
						<li>バックエンドエンジニア：2名</li>
						<li>フロントエンドエンジニア：2名</li>
					</ul>

					<h5>役割</h5>
					<p>フロントエンドエンジニア、メンバー</p>

					<h5>対応したこと</h5>
					<ul>
						<li>
							顧客機能の追加
							<ul>
								<li>一覧ページの作成（一覧テーブル、ページネーション、フィルタリング、ソート機能）</li>
								<li>詳細ページの作成（顧客作成、編集、削除、CSVインポート、CSVエクスポート）</li>
							</ul>
						</li>
						<li>
							Claude Code Sub agentsなど、AIエージェントを円滑扱えるための環境整備
						</li>
						<li>
							Figma Code Connectの導入
							<ul>
								<li>Figma dev mode MCP と AIエージェントを利用した円滑なフロントエンド開発実現を狙い導入</li>
							</ul>
						</li>
					</ul>
				</article>

				<hr />

				<article>
					<h4>タレント事務所のコーポレートサイトリニューアル（会社都合により中止）</h4>
					<p><time datetime="2025-02">2025年2月</time> 〜 <time datetime="2025-06">2025年6月</time></p>
					
					<h5>概要</h5>
					<p>コーポレートサイトのリニューアルプロジェクトに参画しました。</p>

					<h5>技術スタック</h5>
					<dl>
						<dt>フロントエンド</dt>
						<dd>React Router / TypeScript / TailwindCSS / TanStack Query</dd>
						<dt>バックエンド</dt>
						<dd>Hono</dd>
						<dt>インフラ</dt>
						<dd>GCP / Terraform</dd>
					</dl>

					<h5>体制</h5>
					<ul>
						<li>PM：1名</li>
						<li>デザイナー：1名</li>
						<li>フルスタックエンジニア：1名</li>
						<li>フロントエンドエンジニア：2名</li>
					</ul>

					<h5>役割</h5>
					<p>フロントエンドエンジニア、メンバー</p>

					<h5>対応したこと</h5>
					<ul>
						<li>管理画面とユーザー画面（お知らせ部分のみ）の作成</li>
						<li>
							お知らせ記事作成、更新用の WYSIWYG エディタ開発
							<ul>
								<li>Tiptapライブラリ選定</li>
								<li>実装</li>
							</ul>
						</li>
						<li>
							UIライブラリ開発
							<ul>
								<li>レジストリ選定</li>
								<li>バージョン管理設計</li>
								<li>ベースにするUIライブラリ選定</li>
								<li>デザインシステム策定、デザイントークンの定義、デザイナーからの実装相談など</li>
							</ul>
						</li>
						<li>Figma Variable更新時に、更新内容をGitHubへPRを作成できるFigmaプラグイン作成</li>
						<li>PR作成時のプレビュー環境作成</li>
					</ul>
				</article>
			</section>

			<hr />

			<section>
				<h3>イチマルイチデザイン株式会社</h3>
				<p>2021年8月 〜 2024年11月末</p>

				<article>
					<h4>バスケットボールスタッツ記録ウェブサービス開発</h4>
					<p><time datetime="2023-09">2023年9月</time> 〜 <time datetime="2024-11">2024年11月</time></p>
					
					<h5>概要</h5>
					<p>
						小中高のバスケットボールをしている学生を対象とした、自身のスタッツを記録できるウェブサービスの開発を行いました。<br>
						技術選定、設計、UIの提案など、幅広く開発に携わりました。<br>
						UIに関してはOOUI、ウェブアクセシビリティの重要性をデザイナーとともに顧客に提案し、サービスにあった課題の解決に取り組みました。
					</p>

					<h5>技術スタック</h5>
					<dl>
						<dt>フロントエンド</dt>
						<dd>Next.js（Pages Router）/ TypeScript / Tailwind CSS / Dexie.js / Jotai</dd>
						<dt>バックエンド</dt>
						<dd>Express</dd>
						<dt>インフラ</dt>
						<dd>AWS / DynamoDB / S3 / CloudFront</dd>
					</dl>

					<h5>体制</h5>
					<ul>
						<li>ディレクター（進行、テクニカル）：2名</li>
						<li>デザイナー：2名</li>
						<li>フロントエンドエンジニア：3名</li>
					</ul>

					<h5>役割</h5>
					<p>フロントエンドエンジニア 、リーダー</p>

					<h5>対応したこと</h5>
					<ul>
						<li>技術選定、設計、実装、タスク振り分け、コードレビュー、デザインレビュー</li>
					</ul>
				</article>

				<hr />

				<article>
					<h4>MicroCMSパートナー締結の提案から、JAMstack開発環境作り</h4>
					<p><time datetime="2024-04">2024年4月</time> 〜 <time datetime="2024-06">2024年6月</time></p>
					
					<h5>概要</h5>
					<p>
						WordPressでのホームページ制作から、モダンなJAMstack開発を代表に提案するなどして、結果microCMSのパートナー締結をしました。<br>
						会社の売上に貢献したく、Web制作の案件も積極的に受注できるように、Web制作開発環境のテンプレートを作成しました。<br>
						クライアント様の中にはレンタルサーバーを用いてウェブサイトを公開したい要望もあり、その際は自動でレンタルサーバーにデプロイ出来るよう、柔軟な環境に対応出来るテンプレートを構築しました。
					</p>

					<h5>技術スタック</h5>
					<p>Astro, microCMS, Github Actions</dd>

					<h5>役割</h5>
					<p>開発リーダー</p>

					<h5>対応したこと</h5>
					<ul>
						<li>技術選定、設計、実装</li>
					</ul>
				</article>

				<hr />

				<article>
					<h4>パートナー企業へのウェブアクセシビリティチェック業務の相談対応</h4>
					<p><time datetime="2024-02">2024年2月</time> 〜 <time datetime="2024-08">2024年8月</time></p>
					
					<h5>概要</h5>
					<p>
						ウェブアクセシビリティチェックを業務に追加したい企業様との相談を対応しました。<br>
						勉強会、ツールを使ったチェック方法などの質問を受けました。実際に自社コーポレートサイトのチェックを実行してくれました。<br>
						結果、ウェブアクセシビリティチェック業務を事業に追加されました。<br>
						ただ、ウェブアクセシビリティが義務化されましたという、間違った情報発信を確認しており、しっかりと正しい情報を共有できていない部分は反省しています。
					</p>
				</article>

				<hr />

				<article>
					<h4>商品取り置きウェブサービスの開発</h4>
					<p><time datetime="2022-04">2022年4月</time> 〜 <time datetime="2024-06">2024年6月</time></p>
					
					<h5>概要</h5>
					<p>商品を事前購入し、店舗で受け取りが行えるウェブサービスの開発を担当しました。フロントエンド、バックエンドの開発を行いました。</p>

					<h5>技術スタック</h5>
					<dl>
						<dt>フロントエンド</dt>
						<dd>Next.js（Pages Router）/ TypeScript / Chakra UI / Jotai / SWR</dd>
						<dt>バックエンド</dt>
						<dd>Nest.js / GraphQL / Prisma</dd>
						<dt>インフラ</dt>
						<dd>AWS / Vercel</dd>
					</dl>

					<h5>体制</h5>
					<ul>
						<li>ディレクター（進行、テクニカル）：2名</li>
						<li>デザイナー：1名</li>
						<li>フロントエンドエンジニア：3名</li>
						<li>バックエンドエンジニア：2名</li>
						<li>インフラエンジニア：1名</li>
					</ul>

					<h5>役割</h5>
					<p>フロントエンドエンジニア、メンバー</p>

					<h5>対応したこと</h5>
					<ul>
						<li>フロントエンド実装、バックエンドAPI実装、コードレビュー</li>
					</ul>
				</article>

				<hr />
				
				<article>
					<h4>NFTマーケットプレイスウェブサービスの開発</h4>
					<p><time datetime="2022-08">2022年8月</time> 〜 <time datetime="2023-03">2023年3月</time></p>
					
					<h5>概要</h5>
					<p>
						NFTを購入できるWebサービスの開発を行いました。<br>
						管理画面でNFTの鋳造、並び替えなどの管理をし、ユーザー画面で購入するサービスを開発しました。
					</p>

					<h5>技術スタック</h5>
					<dl>
						<dt>フロントエンド</dt>
						<dd>Next.js（Pages Router）/ TypeScript / Chakra UI / Recoil / SWR</dd>
						<dt>バックエンド</dt>
						<dd>Nest.js / GraphQL / LINE Blockchain</dd>
						<dt>インフラ</dt>
						<dd>AWS</dd>
					</dl>

					<h5>体制</h5>
					<ul>
						<li>デザイナー：1名</li>
						<li>フロントエンドエンジニア：3名</li>
						<li>バックエンドエンジニア：3名</li>
					</ul>

					<h5>役割</h5>
					<p>フロントエンドエンジニア、メンバー</p>

					<h5>対応したこと</h5>
					<ul>
						<li>フロントエンド実装、バックエンドAPI実装、コードレビュー</li>
					</ul>
				</article>

				<hr />
				
				<article>
					<h4>自社コーポレートサイトのJAMStack化</h4>
					<p><time datetime="2022-05">2022年5月</time> 〜 <time datetime="2022-08">2022年8月</time></p>
					
					<h5>概要</h5>
					<p>WordPressで作られていた自社コーポレートサイトをNext.jsとmicroCMSを使ったJAMStack化をしました。</p>

					<h5>技術スタック</h5>
					<dl>
						<dt>フロントエンド</dt>
						<dd>Next.js / TypeScript / Emotion</dd>
						<dt>バックエンド</dt>
						<dd>microCMS</dd>
						<dt>インフラ</dt>
						<dd>AWS Amplify / AWS SES</dd>
					</dl>

					<h5>対応したこと</h5>
					<ul>
						<li>技術選定、設計、実装</li>
					</ul>
				</article>

				<hr />

				<article>
					<h4>ノーコードツール動画学習ウェブサービス</h4>
					<p><time datetime="2022-01">2022年1月</time> 〜 <time datetime="2022-04">2022年4月</time></p>
				</article>
			</section>

			<hr />

			<section>
				<h3>株式会社織</h3>
				<p><a href="http://shikiori.com/">http://shikiori.com/</a></p>
				
				<h4>WordPressを用いたWebサイト制作</h4>
				<p><time datetime="2020-07">2020年7月</time> 〜 <time datetime="2021-06">2021年6月</time></p>
				
				<ul>
					<li><a href="https://www.mizumirai.com/">水みらい広島様コーポレートサイト</a></li>
					<li><a href="https://www.mizumirai.com/recruit/">水みらい広島様リクルートサイト</a></li>
					<li><a href="https://hirokumi.net/">広島クミアイ燃料様コーポレートサイト</a></li>
					<li><a href="https://www.ncp.co.jp/turnen/">株式会社エヌ・シー・ピー様</a></li>
					<li><a href="https://www.dorii.co.jp/">グレイスメゾン御幸様</a></li>
					<li><a href="https://mitsuboshi-karaage.com/">ミツボシカラアゲ様</a></li>
					<li><a href="https://omusubi.tech/">配車マッチングウェブサービス開発</a></li>
					<li><a href="https://www.kojima.net/">コジマ電気様通販サイト（一部ページのコーディング）</a></li>
					<li>その他ウェブサイトの保守改修業務</li>
				</ul>
			</section>

			<hr />

			<section>
				<h3>アイエーアイ株式会社</h3>
				<p><a href="https://www.iaiweb.co.jp/">https://www.iaiweb.co.jp/</a></p>
				
				<h4>WordPressを用いたWebサイト制作（業務委託）</h4>
				<p><time datetime="2020-02">2020年2月</time> 〜 <time datetime="2021-07">2021年7月</time></p>
				
				<ul>
					<li><a href="https://www.anacpokayama.com/">ANAクラウンプラザホテル岡山様</a></li>
					<li><a href="https://www.kumafuku.jp/">熊福様</a></li>
					<li><a href="https://www.wanpaku.co.jp/">株式会社わんぱく様</a></li>
				</ul>
			</section>
		</section>

		<section>
			<h2>自己PR</h2>
			<p>
				ユーザーが利用しやすいインターフェースを考え、実装することを大切にしています。デザインカンプをただその通りに実装するのではなく、時にはデザイナーやPMを巻き込んで、より良いUIを提案、確認、共に悩むなどを通してプロダクト作りに貢献してきました。
			</p>
			<p>
				フロントエンド周辺技術はもちろん、UI、ユーザー体験、ウェブアクセシビリティに関心を持ち、プロダクト実装に貢献出来ます。
			</p>
		</section>
	</article>
</Layout>

<style>
	article {
		font-family: var(--font-family-mincho-regular);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	strong,
	b,
	dt {
		font-family: var(--font-family-mincho-bold);
	}
</style>
