---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const entries = await getCollection("blog");

const latestEntries = [...entries]
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
	.slice(0, 5);
---

<Layout title="長谷川 駿 Hayato Hasegawa" isTop>
	<div class="space-b-12 pbl-12">
		<section class="space-b-8">
			<h2 class="text-xl">Hayato Hasegawaについて</h2>
			<div class="space-b-4">
				<p>デザインにも強い関心があるフロントエンドエンジニアです。</p>
				<a href="/about/" class="inline-block">Hayato Hasegawaについて</a>
			</div>
		</section>
		<div class="border-be"></div>
		<section class="space-b-8">
			<h2 class="text-xl">最近書いたブログ</h2>
			<ol class="space-b-4">
				{
					latestEntries.map((entry) => (
						<li>
							<a href={`/blogs/${entry.slug}`}>{entry.data.title}</a>
						</li>
					))
				}
			</ol>
			<a href="/blogs/" class="inline-block">すべてのブログ記事を見る</a>
		</section>
		<div class="border-be"></div>
		<section class="space-b-8">
			<h2 class="text-xl">作ったもの</h2>
			<p class="">今後掲載予定...</p>
		</section>
		<div class="border-be"></div>
		<section class="space-b-8">
			<h2 class="text-xl">別のプラットフォームに書いた記事</h2>
			<ul class="space-b-4">
				<li>
					<a href="https://note.com/_hasegawa_/n/n2ded8745f534">
						「組織へのアクセシビリティ向上の啓蒙や推進」事例集
					</a>
				</li>
				<li>
					<a href="https://note.com/101design/n/n1efa1f08aca9">
						自社コーポレートサイトのアクセシビリティ向上に取り組み始めた話
					</a>
				</li>
				<li>
					<a href="https://note.com/101design/n/necbd3984dad7">
						Webアクセシビリティの向上に取り組むための準備
					</a>
				</li>
			</ul>
		</section>
	</div>
</Layout>
