---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="長谷川 駿 Hayato Hasegawa" isTop>
	<div class="space-b-12 pbl-12">
		<section>
			<h2 class="text-xl font-bold">作ったもの</h2>
			<p class="mbs-12">今後掲載予定...</p>
		</section>
    <div class="border-be"></div>
		<section>
			<h2 class="text-xl font-bold">別のプラットフォームに書いた記事</h2>
			<ul class="space-b-4 mbs-12">
				<li>
					<a href="https://note.com/_hasegawa_/n/n2ded8745f534">
						「組織へのアクセシビリティ向上の啓蒙や推進」事例集
					</a>
				</li>
				<li>
					<a href="https://note.com/101design/n/n1efa1f08aca9">
						自社コーポレートサイトのアクセシビリティ向上に取り組み始めた話
					</a>
				</li>
				<li>
					<a href="https://note.com/101design/n/necbd3984dad7">
						Webアクセシビリティの向上に取り組むための準備
					</a>
				</li>
			</ul>
		</section>
    <div class="border-be"></div>
		<section>
			<h2 class="text-xl font-bold">長谷川 駿について</h2>
			<div class="space-b-8 mbs-12">
				<p>デザインにも強い関心があるフロントエンドエンジニアです。</p>
				<a href="/about/" class="inline-block">長谷川 駿について</a>
			</div>
		</section>
	</div>
</Layout>
