---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Webアプリケーションアクセシビリティ 今日から始める現場からの改善">
  <main class="space-b-8 pbl-12">
    <h1 class="text-2xl font-bold">Webアプリケーションアクセシビリティ 今日から始める現場からの改善</h1>
  </main>
</Layout>
