---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const entries = await getCollection("blog");

const sortedEntries = [...entries].sort((a, b) => {
	return b.data.date.valueOf() - a.data.date.valueOf();
});
---

<Layout title="Blogs">
	<div class="space-b-8 pbl-12">
		<h1 class="text-2xl">ブログ</h1>
		<ul class="space-b-4 mbs-12">
			{
				sortedEntries.map((entry) => (
					<li>
						<a href={`/blogs/${entry.slug}`}>{entry.data.title}</a>
					</li>
				))
			}
		</ul>
	</div>
</Layout>
